@{
    ViewBag.Title = "Lista";
}﻿

<main aria-labelledby="title">
    <h2 class="mt-5 mb-4">Lista degli ospiti prenotati con pensione completa</h2>

    <p>Premendo il pulsante verrà fatta una ricerca sul numero di persone.</p>

    <button class="btn btn-outline-info fw-bold mt-2 mb-4" id="fetchCountButton">Cerca</button>
    <div id="count-container"></div>

    <script>
        document.getElementById('fetchCountButton').addEventListener('click', function () {
            fetch('/Prenotazioni/GetPensioneCompleta')
                .then(response => response.json())
                .then(data => {
                    console.log("Risposta JSON ricevuta:", data);
                    if (data.error) {
                        console.error('Si è verificato un errore durante la richiesta:', data.error);
                    } else {
                        if (data.NumeroPrenotazioni !== undefined) {
                            const paragraph = document.createElement('p');
                            paragraph.textContent = 'Numero di prenotazioni: ' + data.NumeroPrenotazioni;
                            document.getElementById('count-container').innerHTML = '';
                            document.getElementById('count-container').appendChild(paragraph);
                        } else {
                            console.error('La proprietà "NumeroPrenotazioni" non è definita nella risposta JSON.');
                        }
                    }
                })
                .catch(error => {
                    console.error('Si è verificato un errore durante la richiesta:', error);
                });
        });



    </script>
</main>